CWA_API_KEY=your_cwa_api_key
CWA_DATA_URL=https://opendata.cwa.gov.tw/fileapi/v1/opendataapi/O-A0001-001
CACHE_TTL_SECONDS=600
WINDY_MAP_API_KEY=your_windy_map_forecast_api_key
WINDY_POINT_API_KEY=your_windy_point_forecast_api_key
ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
